<!DOCTYPE html>
<html lang="en">
<head> <!-- in this ejs will write the code that goes inside our application-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    Before
        <br>
            <%- body %>
        <br>
    after

</body>
</html>